{% extends "base.html" %}

{% block title %}Customers{% endblock %}

{% block content %}

  <form class="form-inline top-bar" action="{{ root }}/customers/" method="get">
    <button type="button" class="btn btn-success mb-2" id="addCustomer">Add Customer</button>
    <div class="input-group mb-2 search">
      <input type="text" name="search" class="form-control" placeholder="Customer name" {% if search %}value="{{ search }}"{% endif %}>
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">Search</button>
      </div>
    </div>
  </form>

  {% if customers %}
    <table class="table table-bordered table-sm">
      <tr class="header">
        <td>Name</td>
        <td>Origin</td>
      </tr>
      {% for customer in customers %}
        <tr class='clickable-row' data-href='{{ root }}/customers/?id={{ customer.customer_id }}&seller_id={{ customer.seller_id }}'>
          <td>{{ customer.first_name }} {{ customer.last_name }}</td>
          <td>{{ customer.seller }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p class="no-results">No customers found</p>
  {% endif %}
  <div class="pagination-buttons">
    <button type="button" id="previousButton" class="btn btn-light btn-sm" {% if page == 1 %}disabled{% endif %}>Previous</button>
    <span>Page {{ page }}</span>
    <button type="button" id="nextButton" class="btn btn-light btn-sm" {% if customers|length < page_size %}disabled{% endif %}>Next</button>
  </div>

  <script>
    $(document).ready(function($) {
      $('#previousButton').click(function() {
        if ('{{ search }}' != '') {
          location.href = "{{ root }}/customers/?search={{ search }}&page={{ page - 1}}";
        } else {
          location.href = "{{ root }}/customers/?page={{ page - 1}}";
        }
      });
      $('#nextButton').click(function() {
        if ('{{ search }}' != '') {
          location.href = "{{ root }}/customers/?search={{ search }}&page={{ page + 1}}";
        } else {
          location.href = "{{ root }}/customers/?page={{ page + 1}}";
        }
      });
      $('#addCustomer').click(function() {
        location.href = "{{ root }}/customers/add/";
      });
    });
  </script>

{% endblock %}