{% extends "base.html" %}

{% block title %}Customers{% endblock %}

{% block content %}
  <a href="{{ root }}/customers/add/">
    <button type="button" class="btn btn-success">Add Customer</button>
  </a>
  {% if customers %}
    <table class="table table-hover button-above">
      <thead>
        <tr>
          <td>#</td>
          <td>First</td>
          <td>Last</td>
        </tr>
      </thead>
      <tbody>
        {% for customer in customers %}
          <tr class='clickable-row' data-href='{{ root }}/customer/?id={{ customer.customer_id }}'>
            <td>{{ customer.customer_id }}</td>
            <td>{{ customer.first_name }} </td>
            <td>{{ customer.last_name }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="margin-top">No customers found</p>
  {% endif %}
{% endblock %}