{% extends "base.html" %}

{% block title %}{{ customer.first_name }} {{ customer.last_name }}{% endblock %}

{% block content %}
  {% if customer.source == 'Local' %}
    <div class="container">
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-primary mb-2" id="editCustomer">Edit Customer</button>
          <button type="button" class="btn btn-danger mb-2" id="deleteCustomer">Delete Customer</button>
        </div>
      </div>
    </div>
  {% endif %}
  <p>Address: {{ customer.address }}, {{ customer.city }} {{ customer.state }}, {{ customer.zip }} {{ customer.country }}</p>

  <script>
    jQuery(document).ready(function($) {
      $('#editCustomer').click(function() {
        location.href = "{{ root }}/customer/edit/?id={{ customer.customer_id }}";
      });
      $('#deleteCustomer').click(function() {
        var shouldDelete = confirm("Are sure you want to delete this customer?");
        if (shouldDelete) {
          window.location = "{{ root }}/scripts/delete_customer.php?id={{ customer.customer_id }}";
        }
      });
    });
  </script>
{% endblock %}