{% extends "base.html" %}

{% block title %}Customer &middot; {{ customer.first_name }} {{ customer.last_name }}{% endblock %}

{% block content %}
  <div class="top-button-bar clearfix">
    {% if customer.customer_id != current_customer.id %}
      <button type="button" class="btn btn-secondary mb-2" id="setCurrentCustomer">Log In As</button>
    {% endif %}
    {% if customer.seller_id == 1 %}
      <button type="button" class="btn btn-primary mb-2" id="editCustomer">Edit Customer</button>
      <button type="button" class="btn btn-danger mb-2" id="deleteCustomer">Delete Customer</button>
    {% endif %}
  </div>

  <h5>Customer info</h5>
  <table class="table table-sm table-bordered">
    <tr>
      <td class="header">Origin</td>
      <td>{{ customer.seller }}</td>
    </tr>
    <tr>
      <td class="header">Name</td>
      <td>{{ customer.first_name }} {{ customer.last_name }}</td>
    </tr>
    <tr>
      <td class="header">Address</td>
      <td>{{ customer.address }}, {{ customer.city }} {{ customer.state }}, {{ customer.zip }} {{ customer.country }}</td>
    </tr>
  </table>

  <script>
    $(document).ready(function($) {
      $('#editCustomer').click(function() {
        location.href = "{{ root }}/customers/edit/?id={{ customer.customer_id }}";
      });
      $('#deleteCustomer').click(function() {
        var shouldDelete = confirm("Are sure you want to delete this customer?");
        if (shouldDelete) {
          window.location = "{{ root }}/scripts/delete_customer.php?id={{ customer.customer_id }}";
        }
      });
      $('#setCurrentCustomer').click(function() {
        location.href = "{{ root }}/scripts/set_current_customer.php?customer_id={{ customer.customer_id }}&seller_id={{ customer.seller_id }}";
      });
    });
  </script>
{% endblock %}