{% extends "base.html" %}

{% block title %}Customer &middot; {{ customer.first_name }} {{ customer.last_name }}{% endblock %}

{% block content %}
  <div class="top-button-bar clearfix">
    {% if customer.customer_id != current_customer.id %}
      <button type="button" class="btn btn-secondary mb-2" id="setCurrentCustomer">Log In As</button>
    {% endif %}
    {% if customer.seller_id == 1 %}
      <button type="button" class="btn btn-primary mb-2" id="editCustomer">Edit Customer</button>
      <button type="button" class="btn btn-danger mb-2" id="deleteCustomer">Delete Customer</button>
    {% endif %}
  </div>

  <h5>Customer info</h5>
  <table class="table table-sm table-bordered">
    <tr>
      <td class="header">Origin</td>
      <td>{{ customer.seller }}</td>
    </tr>
    <tr>
      <td class="header">Name</td>
      <td>{{ customer.first_name }} {{ customer.last_name }}</td>
    </tr>
    <tr>
      <td class="header">Address</td>
      <td>{{ customer.address }}, {{ customer.city }} {{ customer.state }}, {{ customer.zip }} {{ customer.country }}</td>
    </tr>
  </table>

  <h5>Orders</h5>
  {% if orders %}
    <table class="table table-sm table-bordered">
      <tr class="header">
        <td>Order code</td>
        <td>Total</td>
        <td>Placed on</td>
      </tr>
      {% for order in orders %}
        <tr class='clickable-row' data-href='{{ root }}/orders/?id={{ order.order_id }}'>
          <td>{{ order.order_code }}</td>
          <td>${{ order.order_total|number_format(2) }}</td>
          <td>{{ order.order_datetime }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p class="no-results">This customer has not placed any orders</p>
  {% endif %}

  <h5>Wishlist</h5>
  {% if wishlist %}
    <table class="table table-sm table-bordered">
      <tr class="header">
        <td>Product</td>
        <td>List price</td>
        <td>Actions</td>
      </tr>
      {% for product in wishlist %}
        <tr>
          <td><a href="{{ root }}/products/?id={{ product.product_id }}&seller_id=1">{{ product.name }} {% if product.product_code %}({{ product.product_code }}){% endif %}</a></td>
          <td>${{ product.cost|number_format(2) }}</td>
          <td>
            <a id="removeButton{{ product.product_id }}_{{product.product_seller_id }}" href="#">Remove from wishlist</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p class="no-results">No items on wishlist</p>
  {% endif %}

  <script>
    $(document).ready(function($) {
      $('#editCustomer').click(function() {
        location.href = "{{ root }}/customers/edit/?id={{ customer.customer_id }}";
      });
      $('#deleteCustomer').click(function() {
        var shouldDelete = confirm("Are sure you want to delete this customer?");
        if (shouldDelete) {
          window.location = "{{ root }}/scripts/delete_customer.php?id={{ customer.customer_id }}";
        }
      });
      $('#setCurrentCustomer').click(function() {
        location.href = "{{ root }}/scripts/set_current_customer.php?customer_id={{ customer.customer_id }}&seller_id={{ customer.seller_id }}";
      });

      {% for product in wishlist %}
        $('#removeButton{{ product.product_id }}_{{product.product_seller_id }}').click(function() {
          location.href = "{{ root }}/scripts/remove_wishlist_item.php?customer_id={{ product.customer_id }}&customer_seller_id={{ product.customer_seller_id }}&product_id={{ product.product_id }}&product_seller_id={{ product.product_seller_id }}";
        });
      {% endfor %}
    });
  </script>
{% endblock %}