{% extends "base.html" %}

{% block title %}Product Catalog{% endblock %}

{% block content %}

  <form class="form-inline top-bar" action="{{ root }}/product-catalog/" method="get">
    <div class="btn-group mb-2">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter Category
      </button>
      <div class="dropdown-menu">
        {% if category %}
          <a class="dropdown-item" href="{{ root }}/product-catalog/">All categories</a>
          <div class="dropdown-divider"></div>
        {% endif %}
        {% for category_l in categories %}
          <a class="dropdown-item{% if category_l == category %} active{% endif %}" href="{{ root }}/product-catalog/?category={{ category_l }}">{{ category_l }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="input-group mb-2 search">
      <input type="text" name="search" class="form-control" placeholder="Product name" {% if search %}value="{{ search }}"{% endif %}>
      {% if category %}<input type="hidden" name="category" value="{{ category }}">{% endif %}
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">Search</button>
      </div>
    </div>
  </form>

  {% if products %}
    <div class="card-columns">
      {% for product in products %}
        <div class="card clickable">
          <a class="hidden" href="{{ root }}/products/?id={{ product.product_id }}&seller_id={{ product.seller_id }}"></a>
          <div class="card-header">{{ product.name }}</div>
          <div class="card-body">
            <div style="margin-top: -7px;" class="clearfix">
              <small class="text-muted">Sold by {{ product.seller }}</small>
              {% if product.product_code %}<small style="float: right; margin-top: 4px;" class="text-muted">{{ product.product_code }}</small>{% endif %}
            </div>
            <div>
              {% if product.seller_id == 4 %}Rental rate{% else %}List price{% endif %}: ${{ product.cost|number_format(2) }}
              {% if product.quantity_available > 0 %}
                <small class="text-success">({{ product.quantity_available }} left)</small>
              {% else %}
                <small class="text-danger">(Out of stock)</small>
              {% endif %}
            </div>
            {% for category in product.categories %}
              <a href="{{ root }}/product-catalog/?category={{ category.name }}" class="badge badge-pill badge-{{ category.color }}">{{ category.name }}</a>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p class="no-results">No products found</p>
  {% endif %}
  <div class="pagination-buttons">
    <button type="button" id="previousButton" class="btn btn-light btn-sm" {% if page == 1 %}disabled{% endif %}>Previous</button>
    <span>Page {{ page }}</span>
    <button type="button" id="nextButton" class="btn btn-light btn-sm" {% if products|length < page_size %}disabled{% endif %}>Next</button>
  </div>

  <script>
    $(document).ready(function($) {
      $('a.badge').click(function(event) {
        event.stopPropagation();
      });
      $('#previousButton').click(function() {
        var link = "{{ root }}/product-catalog/?page={{ page - 1}}";
        if ('{{ search }}' != '') {
          link += "&search={{ search }}";
        }
        if ('{{ category }}' != '') {
          link += "&category={{ category }}";
        }
        location.href = link;
      });
      $('#nextButton').click(function() {
        var link = "{{ root }}/product-catalog/?page={{ page + 1}}";
        if ('{{ search }}' != '') {
          link += "&search={{ search }}";
        }
        if ('{{ category }}' != '') {
          link += "&category={{ category }}";
        }
        location.href = link;
      });
      $(".card").click(function() {
        location.href = $(this).find("a").attr("href");
      });
    });
  </script>

{% endblock %}