{% extends "base.html" %}

{% block title %}Product &middot; {{ product.name }}{% endblock %}

{% block content %}
  <div class="top-button-bar">
    {% if current_customer %}
      <button type="button" class="btn btn-secondary mb-2" id="addToCart">Add to Cart</button>
      <button type="button" class="btn btn-secondary mb-2" id="addToWishlist">Add to Wishlist</button>
      <button type="button" class="btn btn-secondary mb-2" id="rateProduct">Rate Product</button>
    {% endif %}
    {% if product.seller_id == 1 %}
      <button type="button" class="btn btn-primary mb-2" id="editProduct">Edit Product</button>
      <button type="button" class="btn btn-danger mb-2" id="deleteProduct">Delete Product</button>
    {% endif %}
  </div>

  {% if current_customer_rating %}
    <p>You rated this product {{ current_customer_rating }} stars</p>
  {% endif %}

  <h5>Product info</h5>
  <table class="table table-sm table-bordered">
    <tr>
      <td class="header">Origin</td>
      <td>{{ product.seller }}</td>
    </tr>
    <tr>
      <td class="header">Name</td>
      <td>{{ product.name }}</td>
    </tr>
    {% if product.product_code %}
      <tr>
        <td class="header">Product code</td>
        <td>{{ product.product_code }}</td>
      </tr>
    {% endif %}
    <tr>
      <td class="header">{% if product.seller_id == 4 %}Rental rate{% else %}List price{% endif %}</td>
      <td>${{ product.cost|number_format(2) }}</td>
    </tr>
    <tr>
      <td class="header">Availability</td>
      <td>
        {% if product.quantity_available > 0 %}
          <span class="text-success">{{ product.quantity_available }} left</span>
        {% else %}
          <span class="text-danger">Out of stock</span>
        {% endif %}</td>
    </tr>
    {% if northwind_product %}
    <tr>
      <td class="header">Quantity per unit</td>
      <td>{{ northwind_product.quantity_per_unit }}</td>
    </tr>
    {% endif %}
    {% if sakila_product %}
    <tr>
      <td class="header">Description</td>
      <td>{{ sakila_product.description }}</td>
    </tr>
    <tr>
      <td class="header">Release year</td>
      <td>{{ sakila_product.release_year }}</td>
    </tr>
    <tr>
      <td class="header">Length</td>
      <td>{{ sakila_product.length }} minutes</td>
    </tr>
    <tr>
      <td class="header">Film rating</td>
      <td>{{ sakila_product.rating }}</td>
    </tr>
    {% endif %}
    {% if product.category %}
      <tr>
        <td class="header">Category</td>
        <td>
          <span class="badge badge-pill badge-{{ product.category_color }}">{{ product.category }}</span>
        </td>
      </tr>
    {% endif %}
    <tr>
      <td class="header">Rating</td>
      <td>
        {% if product.rating %}
          <span class="fa fa-star text-warning"></span>
          <span class="fa fa-star{% if product.rating >= 1.5 and product.rating < 2 %}-half-o{% elseif product.rating < 1.5 %}-o{% endif %} text-warning"></span>
          <span class="fa fa-star{% if product.rating >= 2.5 and product.rating < 3 %}-half-o{% elseif product.rating < 2.5 %}-o{% endif %} text-warning"></span>
          <span class="fa fa-star{% if product.rating >= 3.5 and product.rating < 4 %}-half-o{% elseif product.rating < 3.5 %}-o{% endif %} text-warning"></span>
          <span class="fa fa-star{% if product.rating >= 4.5 and product.rating < 5 %}-half-o{% elseif product.rating < 4.5 %}-o{% endif %} text-warning"></span>
          <span class="fa fa-star{% if product.rating >= 5.5 and product.rating < 6 %}-half-o{% elseif product.rating < 5.5 %}-o{% endif %} text-warning"></span>
          <span class="fa fa-star{% if product.rating >= 6.5 and product.rating < 7 %}-half-o{% elseif product.rating < 6.5 %}-o{% endif %} text-warning"></span>
          <span class="fa fa-star{% if product.rating >= 7.5 and product.rating < 8 %}-half-o{% elseif product.rating < 7.5 %}-o{% endif %} text-warning"></span>
          <span class="fa fa-star{% if product.rating >= 8.5 and product.rating < 9 %}-half-o{% elseif product.rating < 8.5 %}-o{% endif %} text-warning"></span>
          <span class="fa fa-star{% if product.rating >= 9.5 and product.rating < 10 %}-half-o{% elseif product.rating < 9.5 %}-o{% endif %} text-warning"></span>
          ({{ product.rating}} stars, {{ product.num_ratings }} ratings)
        {% else %}
          0 ratings
        {% endif %}
      </td>
    </tr>
    <tr>
      <td class="header">Rating weighted</td>
      <td>
        {% if product.rating_weighted %}
          <span class="fa fa-star text-warning"></span>
          <span class="fa fa-star{% if product.rating_weighted >= 1.5 and product.rating_weighted < 2 %}-half-o{% elseif product.rating_weighted < 1.5 %}-o{% endif %} text-warning"></span>
          <span class="fa fa-star{% if product.rating_weighted >= 2.5 and product.rating_weighted < 3 %}-half-o{% elseif product.rating_weighted < 2.5 %}-o{% endif %} text-warning"></span>
          <span class="fa fa-star{% if product.rating_weighted >= 3.5 and product.rating_weighted < 4 %}-half-o{% elseif product.rating_weighted < 3.5 %}-o{% endif %} text-warning"></span>
          <span class="fa fa-star{% if product.rating_weighted >= 4.5 and product.rating_weighted < 5 %}-half-o{% elseif product.rating_weighted < 4.5 %}-o{% endif %} text-warning"></span>
          <span class="fa fa-star{% if product.rating_weighted >= 5.5 and product.rating_weighted < 6 %}-half-o{% elseif product.rating_weighted < 5.5 %}-o{% endif %} text-warning"></span>
          <span class="fa fa-star{% if product.rating_weighted >= 6.5 and product.rating_weighted < 7 %}-half-o{% elseif product.rating_weighted < 6.6 %}-o{% endif %} text-warning"></span>
          <span class="fa fa-star{% if product.rating_weighted >= 7.5 and product.rating_weighted < 8 %}-half-o{% elseif product.rating_weighted < 7.5 %}-o{% endif %} text-warning"></span>
          <span class="fa fa-star{% if product.rating_weighted >= 8.5 and product.rating_weighted < 9 %}-half-o{% elseif product.rating_weighted < 8.5 %}-o{% endif %} text-warning"></span>
          <span class="fa fa-star{% if product.rating_weighted >= 9.5 and product.rating_weighted < 10 %}-half-o{% elseif product.rating_weighted < 9.5 %}-o{% endif %} text-warning"></span>
          ({{ product.rating_weighted}} stars, {{ product.num_ratings }} ratings)
        {% else %}
          0 ratings
        {% endif %}
      </td>
    </tr>
  </table>

  <script>
    $(document).ready(function($) {
      $('#editProduct').click(function() {
        location.href = "{{ root }}/products/edit/?id={{ product.product_id }}";
      });
      $('#deleteProduct').click(function() {
        var shouldDelete = confirm("Are sure you want to delete this product?");
        if (shouldDelete) {
          window.location = "{{ root }}/scripts/delete_product.php?id={{ product.product_id }}";
        }
      });
      $('#addToCart').click(function() {
        location.href = "{{ root }}/scripts/add_to_cart.php?product_id={{ product.product_id }}&seller_id={{ product.seller_id }}";
      });
      $('#addToWishlist').click(function() {
        location.href = "{{ root }}/scripts/add_to_wishlist.php?product_id={{ product.product_id }}&seller_id={{ product.seller_id }}";
      });
      $('#rateProduct').click(function() {
        var response = prompt("Rating (1-10)");
        if (response) {
          location.href = "{{ root }}/scripts/rate_product.php?rating=" + response + "&product_id={{ product.product_id }}&seller_id={{ product.seller_id }}";
        }
      });
    });
  </script>
{% endblock %}