{% extends "base.html" %}

{% block title %}Products{% endblock %}

{% block content %}

  <form class="form-inline top-bar" action="{{ root }}/products/" method="get">
    <button type="button" class="btn btn-success mb-2" id="addProduct">Add Product</button>
    <div class="input-group mb-2 search">
      <input type="text" name="search" class="form-control" placeholder="Product name" {% if search %}value="{{ search }}"{% endif %}>
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">Search</button>
      </div>
    </div>
  </form>

  {% if products %}
    <table class="table table-sm table-bordered">
      <tr class="header">
        <td>Product</td>
        <td>List price</td>
      </tr>
      {% for product in products %}
        <tr class="clickable-row" data-href='{{ root }}/products/?id={{ product.product_id }}&seller_id=1'>
          <td>{{ product.name }} ({{ product.product_code }})</td>
          <td>${{ product.list_price|number_format(2) }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p class="no-results">No products found</p>
  {% endif %}
  <div class="pagination-buttons">
    <button type="button" id="previousButton" class="btn btn-light btn-sm" {% if page == 1 %}disabled{% endif %}>Previous</button>
    <span>Page {{ page }}</span>
    <button type="button" id="nextButton" class="btn btn-light btn-sm" {% if products|length < page_size %}disabled{% endif %}>Next</button>
  </div>

  <script>
    $(document).ready(function($) {
      $('#previousButton').click(function() {
        var link = "{{ root }}/products/?page={{ page - 1}}";
        if ('{{ search }}' != '') {
          link += "&search={{ search }}";
        }
        location.href = link;
      });
      $('#nextButton').click(function() {
        var link = "{{ root }}/products/?page={{ page + 1}}";
        if ('{{ search }}' != '') {
          link += "&search={{ search }}";
        }
        location.href = link;
      });
      $('#addProduct').click(function() {
        location.href = "{{ root }}/products/add/";
      });
    });
  </script>

{% endblock %}