{% extends "base.html" %}

{% block title %}Suggested Products{% endblock %}

{% block content %}
  <p class="description">Displays suggested products for the currently logged in customer based off of their wishlist and order history.</p>
  {% if products %}
    <table class="table table-sm table-bordered">
      <tr class="header">
        <td></td>
        <td>Product</td>
        <td>Category</td>
      </tr>
      {% for product in products %}
        <tr>
          <td>{{ loop.index }}</td>
          <td><a href="{{ root }}/products/?id={{ product.product_id }}&seller_id=1">{{ product.name }} ({{ product.product_code }})</a></td>
          <td>{{ product.category }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p class="no-results">No products found</p>
  {% endif %}
  <div class="pagination-buttons">
    <button type="button" id="previousButton" class="btn btn-light btn-sm" {% if page == 1 %}disabled{% endif %}>Previous</button>
    <span>Page {{ page }}</span>
    <button type="button" id="nextButton" class="btn btn-light btn-sm" {% if products|length < page_size %}disabled{% endif %}>Next</button>
  </div>

  <script>
    $(document).ready(function($) {
      $('#previousButton').click(function() {
        location.href = "{{ root }}/suggested-products/?page={{ page - 1}}";
      });
      $('#nextButton').click(function() {
        location.href = "{{ root }}/suggested-products/?page={{ page + 1}}";
      });
    });
  </script>

{% endblock %}