{% extends "base.html" %}

{% block title %}Supplier &middot; {{ supplier.supplier_name }}{% endblock %}

{% block content %}
  <div class="top-button-bar">
    <button type="button" class="btn btn-primary mb-2" id="editSupplier">Edit Supplier</button>
    <button type="button" class="btn btn-danger mb-2" id="deleteSupplier">Delete Supplier</button>
  </div>

  <h5>Supplier info</h5>
  <table class="table table-sm table-bordered">
    <tr>
      <td class="header">Name</td>
      <td>{{ supplier.supplier_name }}</td>
    </tr>
    <tr>
      <td class="header">Address</td>
      <td>{{ supplier.address }}, {{ supplier.city }} {{ supplier.state }}, {{ supplier.zip }} {{ supplier.country }}</td>
    </tr>
  </table>

  <h5>Primary contact</h5>
  <table class="table table-sm table-bordered">
    <tr>
      <td class="header">Name</td>
      <td>{{ supplier.first_name }} {{ supplier.last_name }}</td>
    </tr>
    <tr>
      <td class="header">Job title</td>
      <td>{{ supplier.job_title }}</td>
    </tr>
    <tr>
      <td class="header">Phone number</td>
      <td>{{ supplier.phone_number }}</td>
    </tr>
  </table>

  <h5>Available products</h5>
  {% if supplier.products %}
    <table class="table table-sm table-bordered">
      <tr class="header">
        <td>Code</td>
        <td>Name</td>
        <td>List price</td>
      </tr>
      {% for product in supplier.products %}
        <tr class="clickable-row" data-href='{{ root }}/products/?id={{ product.product_id }}&seller_id=1'>
          <td>{{ product.product_code }}</td>
          <td>{{ product.name }}</td>
          <td>${{ product.list_price|number_format(2) }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p class="no-results">No products found</p>
  {% endif %}

  <script>
    jQuery(document).ready(function($) {
      $('#editSupplier').click(function() {
        location.href = "{{ root }}/suppliers/edit/?id={{ supplier.supplier_id }}";
      });
      $('#deleteSupplier').click(function() {
        var shouldDelete = confirm("Are sure you want to delete this supplier?");
        if (shouldDelete) {
          window.location = "{{ root }}/scripts/delete_supplier.php?id={{ supplier.supplier_id }}";
        }
      });
    });
  </script>
{% endblock %}